[data-flex-splitter-horizontal]
[data-flex-splitter-vertical]
  display flex

  > *
    flex none
    overflow auto
    box-sizing border-box

  > [role=separator]
    touch-action none
    display flex
    align-items center
    justify-content center
    background-color rgba(160,160,160,.15)

    &::before
      content ''
      box-sizing border-box
      border 1.25px rgba(160,160,160,.7)

[data-flex-splitter-horizontal]
  > [role=separator]
    cursor ew-resize
    width 8px

    &::before
      width 4px
      height 16px
      border-style none solid

[data-flex-splitter-vertical]
  flex-direction column

  > [role=separator]
    cursor ns-resize
    height 8px

    &::before
      width 16px
      height 4px
      border-style solid none
